<!-- this page can be only accessed by the admin and is meant for adding new recipes to the website -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Recipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add a recipe</h1>
	<div>
		<form th:object="${recipe}" th:action="@{saveaddedrecipe}" action="#" method="post">
		
		  	<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	 
		  	<label for="time">How much does making it take? </label>
			<input type="text" th:field="*{time}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="shortDescription">Give a short description</label>
			<input type="text" th:field="*{shortDescription}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save"></input>

		</form>

		<a href="/recipes">Return</a> 
	</div>
</body>
</html>